@{
    ViewBag.Title = "首页";
    Layout = "~/Views/Shared/_MaterLayout.cshtml";
}

<div >
    @*Main
    <ul>
        <li>
            @Html.ActionLink("登陆", "Login", "Account")
        </li>
       
        <li>
            @Html.ActionLink("用户", "GetAllPerson", "Person")
        </li>
        <li>
            @Html.ActionLink("BootStrap演示", "Index", "BootStrap")
        </li>
        <li>
            @Html.ActionLink("BootStrap演示2", "SinglePage", "BootStrap")
        </li>
        <li>
            @Html.ActionLink("主页", "Index2", "Home")
        </li>
    </ul>*@
    <div style=""></div>
    <span style="font-weight:900;font-size:x-large;padding-left:440px;padding-top:250px;display:block;">Welcome!</span>
</div>
